.tooling/finalproject_emp_api7eb3851b-e66e-4e2c-b003-2b7ce8500358/-employee_service_specification.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd">
    <http:listener-config name="-employee_service_specification-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="${http.port}" />
    </http:listener-config>
    <apikit:config name="-employee_service_specification-config" api="-employee_service_specification.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <wsc:config name="Web_Service_Consumer_Config" doc:name="Web Service Consumer Config" doc:id="3dd6d077-16d6-4e1b-83e0-7d609989db10" >
		<wsc:connection wsdlLocation=" http://35.202.87.23:6061/ws/employees.wsdl" service="EmployeePortService" port="EmployeePortSoap11" address="http://35.202.87.23:6061/ws"/>
	</wsc:config>
	<flow name="-employee_service_specification-main">
        <http:listener config-ref="-employee_service_specification-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="-employee_service_specification-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="-employee_service_specification-console">
        <http:listener config-ref="-employee_service_specification-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="-employee_service_specification-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="put:\employees\(Employee_id):application\json:-employee_service_specification-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="Employee_id">attributes.uriParams.'Employee_id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
		<ee:transform doc:name="Transform Message" doc:id="2a9f49ad-2dd4-49d9-b4fe-1d27f03d3e2d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://www.cdi.com/employees
---
{
	ns0#UpdateEmployeeRequest: {
		ns0#Employee: {
			ns0#id: vars.Employee_id as Number,
			ns0#firstName: payload.firstName,
			ns0#lastName: payload.lastName,
			ns0#department: payload.department
		}
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume doc:name="Consume" doc:id="2e16f783-12aa-45ca-a90e-60c966a36f46" config-ref="Web_Service_Consumer_Config" operation="UpdateEmployee"/>
		<ee:transform doc:name="Transform Message" doc:id="453e7c40-95ed-4730-af67-d5bd09c0f9bf" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
ns ns0 http://www.cdi.com/employees
---
{
	firstName: payload.body.ns0#UpdateEmployeeResponse.ns0#Employee.ns0#firstName default "",
	lastName: payload.body.ns0#UpdateEmployeeResponse.ns0#Employee.ns0#lastName default "",
	employeeId: payload.body.ns0#UpdateEmployeeResponse.ns0#Employee.ns0#id default 0,
	department: payload.body.ns0#UpdateEmployeeResponse.ns0#Employee.ns0#department default ""
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
    <flow name="delete:\employees\(Employee_id):-employee_service_specification-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="Employee_id">attributes.uriParams.'Employee_id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message" doc:id="a4b0479b-ac81-452c-b476-093f482f51e9" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://www.cdi.com/employees
---
{
	ns0#DeleteEmployeeRequest: {
		ns0#id: vars.Employee_id as Number
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume doc:name="Consume" doc:id="debd4b4b-f799-4892-aef6-6ee6cf093d87" config-ref="Web_Service_Consumer_Config" operation="DeleteEmployee"/>
		<ee:transform doc:name="Transform Message" doc:id="fd6f2bb4-5382-4595-9b4b-f01d17ba6271" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
    <flow name="get:\employees:-employee_service_specification-config">
        <ee:transform doc:name="Transform Message" doc:id="49887acb-5855-4269-b249-c1f3c41be538" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://www.cdi.com/employees
---
{
	ns0#GetAllEmployeesRequest: null
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume doc:name="Consume" doc:id="4b7fa31a-c5b2-4153-ba90-cb4c5a3ed249" config-ref="Web_Service_Consumer_Config" operation="GetAllEmployees"/>
		<ee:transform doc:name="Transform Message" doc:id="d5bd3031-ba09-4493-b515-fcea3aca5ab7" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
ns ns0 http://www.cdi.com/employees
---
payload.body.ns0#GetAllEmployeesResponse.*ns0#Employees map ( employee , indexOfEmployee ) -> {
	firstName: employee.ns0#firstName default "",
	lastName: employee.ns0#lastName default "",
	employeeId: employee.ns0#id default 0,
	department: employee.ns0#department default ""
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
    <flow name="get:\employees\(Employee_id):-employee_service_specification-config">
		<ee:transform>
            <ee:variables>
                <ee:set-variable variableName="Employee_id">attributes.uriParams.'Employee_id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message" doc:id="baffcb3f-919f-43b1-9bc9-e0801ad44a34" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://www.cdi.com/employees
---
{
	ns0#GetEmployeeRequest: {
		ns0#id: vars.Employee_id as Number
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume doc:name="Consume" doc:id="adf6a06e-7836-46a4-99b2-f2ce09e78abf" config-ref="Web_Service_Consumer_Config" operation="GetEmployee"/>
		<ee:transform doc:name="Transform Message" doc:id="4cb369be-26b4-4a8e-8ee5-4b1a867deaf8" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
ns ns0 http://www.cdi.com/employees
---
{
	firstName: payload.body.ns0#GetEmployeeResponse.ns0#Employee.ns0#firstName default "",
	lastName: payload.body.ns0#GetEmployeeResponse.ns0#Employee.ns0#lastName default "",
	department: payload.body.ns0#GetEmployeeResponse.ns0#Employee.ns0#department default ""
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
    <flow name="post:\employees:application\json:-employee_service_specification-config">
        <ee:transform doc:name="Transform Message" doc:id="1cbd7dac-d953-4376-b236-25815a98f3ca" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://www.cdi.com/employees
---
{
	ns0#AddEmployeeRequest: {
		ns0#AddEmployee: {
			ns0#firstName: payload.firstName,
			ns0#lastName: payload.lastName,
			ns0#department: payload.department
		}
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume doc:name="Consume" doc:id="b821073f-ae99-47c2-97ae-dc930a321c43" config-ref="Web_Service_Consumer_Config" operation="AddEmployee"/>
		<ee:transform doc:name="Transform Message" doc:id="0479152b-0ec9-4d33-9cee-ce3410ac2169" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
ns ns0 http://www.cdi.com/employees
---
[{
	firstName: payload.body.ns0#AddEmployeeResponse.ns0#Employee.ns0#firstName default "",
	lastName: payload.body.ns0#AddEmployeeResponse.ns0#Employee.ns0#lastName default "",
	employeeId: payload.body.ns0#AddEmployeeResponse.ns0#Employee.ns0#id default 0,
	department: payload.body.ns0#AddEmployeeResponse.ns0#Employee.ns0#department default ""
}]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
</mule>
