.tooling/finalproject_emp_apia2214ac9-1376-458a-9609-40f4145cd14e/-employee_service_specification.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd">
    <http:listener-config name="-employee_service_specification-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="-employee_service_specification-config" api="-employee_service_specification.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <wsc:config name="Web_Service_Consumer_Config" doc:name="Web Service Consumer Config" doc:id="3dd6d077-16d6-4e1b-83e0-7d609989db10" >
		<wsc:connection wsdlLocation=" http://35.202.87.23:6061/ws/employees.wsdl" service="EmployeePortService" port="EmployeePortSoap11" address="http://35.202.87.23:6061/ws"/>
	</wsc:config>
	<flow name="-employee_service_specification-main">
        <http:listener config-ref="-employee_service_specification-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="-employee_service_specification-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="-employee_service_specification-console">
        <http:listener config-ref="-employee_service_specification-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="-employee_service_specification-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="put:\employees\(Employee_id):application\json:-employee_service_specification-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="Employee_id">attributes.uriParams.'Employee_id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
		<wsc:consume doc:name="Consume" doc:id="2e16f783-12aa-45ca-a90e-60c966a36f46" config-ref="Web_Service_Consumer_Config"/>
		<logger level="INFO" message="put:\employees\(Employee_id):application\json:-employee_service_specification-config" />
    </flow>
    <flow name="delete:\employees\(Employee_id):-employee_service_specification-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="Employee_id">attributes.uriParams.'Employee_id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <wsc:consume doc:name="Consume" doc:id="debd4b4b-f799-4892-aef6-6ee6cf093d87" />
		<logger level="INFO" message="delete:\employees\(Employee_id):-employee_service_specification-config" />
    </flow>
    <flow name="get:\employees:-employee_service_specification-config">
        <wsc:consume doc:name="Consume" doc:id="4b7fa31a-c5b2-4153-ba90-cb4c5a3ed249" />
		<logger level="INFO" message="get:\employees:-employee_service_specification-config" />
    </flow>
    <flow name="get:\employees\(Employee_id):-employee_service_specification-config">
        <wsc:consume doc:name="Consume" doc:id="adf6a06e-7836-46a4-99b2-f2ce09e78abf" />
		<ee:transform>
            <ee:variables>
                <ee:set-variable variableName="Employee_id">attributes.uriParams.'Employee_id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="get:\employees\(Employee_id):-employee_service_specification-config" />
    </flow>
    <flow name="post:\employees:application\json:-employee_service_specification-config">
        <wsc:consume doc:name="Consume" doc:id="b821073f-ae99-47c2-97ae-dc930a321c43" />
		<logger level="INFO" message="post:\employees:application\json:-employee_service_specification-config" />
    </flow>
</mule>
